@font-face {
    font-family: "JetBrains Mono";
    src: url(/fonts/JetBrainsMono[wght].ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #38383d;
    color: #fbfbfe;
    font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
    min-height: 100vh;
    display: flex;
    font-size: 13px;
}

main {
    display: contents;
}
